.project_heading{
    margin-top: 50px !important ;
    margin-bottom: 50px !important;
    text-align: center !important;
    color: #5086e1bf !important;

    
}
.projects_pics{
    width: 100% !important;
    height: 300px !important;
    margin-bottom: 20px;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.projects_pics1{
    width: 100% !important;
    height: 300px !important;
    margin-bottom: 20px;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.projects_row{
    margin-bottom: 50px;
    background-color: rgb(250, 240, 240) !important;
    border-radius: 5px !important;
    box-shadow: rgba(50, 50, 93,) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px, rgba(10, 37, 64, 0.15) 0px -2px 6px 0px inset;
    padding-bottom: 10px;
}
.project_heading1{
    padding: 10px !important;
    text-align: center !important;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold!important;
    color:  rgb(34, 34, 231) !important;
    margin: 0%!important;
}
a.projects_anchor{
    text-decoration: none !important;
    color:blue !important;
    font-weight: bold !important;
    margin-bottom: 20px                 !important;
    
    
}
.projects_container{
 text-align: center !important;
 margin-top: 50px !important;
 
}

@media (min-width:320px) and (max-width:430px) {
    
    .projects_row{
        display: flex !important;
        flex-direction: column !important;
    }
    .projects_pics{
        width: 100% !important;
        height: 200px !important;
        margin-right: 0.75rem !important;
    }
   
    .project_heading1{
margin-top:30% !important;
    }
    .project_heading{
        margin-top:30px !important;
        margin-bottom: 0% !important;
    }
    
}
@media (max-width:768px) {
    .projects_pics1{
        width: 100% !important;
        margin-right: 0.75rem !important;
        margin-top: 16px;
    }
    
}
